/* google font roboto*/
body{
    font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin:0 20px;
}
h1{
    font-weight: 900;
}
/* influencer started his journey */
.influencer-start{
    display:flex;
    margin-top: 20px;
}
.button{
    background-color: deeppink;
    width:120px;
    height:25px;
    padding:5px 5px;
    border-radius: 10px;
    color:white;
}