/* google font roboto*/
body{
    font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin:0 30px;
}
h1{
    font-size: 50px;
    font-weight: 900;
}
/* influencer started his journey */
.influencer-start{
 display:flex;
    margin-top: 20px;
}
.for-background{
    border:1px solid lightblue;
    transition: all;

}
.for-background:hover{
   border:2px solid black;
}
.button{
    background-color: deeppink;
    width:120px;
    height:25px;
    padding:5px 5px;
    border-radius: 10px;
    color:white;
}
hr{
    border:1px solid rgb(129, 123, 123); 
}
.center {
    width:30px;
    display:flex;

}
/* showing many products here */
.products-title{
    text-align: center;
}
.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 5px;
    row-gap: 25px;
}
.product{
    border:1px solid grey;
  
    padding:10px;
    background-color: rgb(204, 204, 223);
    width:300px;
    height:430px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
footer{
    background-color: navy;
    text-align: center;
    color:whitesmoke;
}
/* @media screen  */
/* Mobile device */
@media only screen and(max-width:320px) {
    .influencer-start .products{
        display:grid;
        background-color: lightblue;
       grid-template-columns: repeat(1,1fr);
       grid-template-rows: repeat(1,1fr);
    
}
}
       
        
   
        

 /* Tablet Device */
 @media only screen (min-width:320px) and (max-width:760px) {
     .influencer-start .products{
display:grid;

grid-template-columns:repeat(1fr);

     }
 }
   